@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
* {
    color: ivory;
    font-family: 'Quattrocento Sans', sans-serif;
}

body {
    background: radial-gradient(circle at top center, #5e5e5e, #2d3334, #262626);
    background-repeat: no-repeat;
    height: 1000px;
}

h1 {
    margin-left: 0.5rem;
}

#headingUnderline {
    background-image: linear-gradient(130deg, #1DB9C3 15%, #7027A0 45%, #C32BAD 85%);
    border-radius: 1rem;
    width: 31rem;
    height: 1rem;
    border: 0;
    position: relative;
    top: -2.25rem;
    z-index: -1;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3)
}

#authorName {
    position: absolute;
    right: 1rem;
    top: -1rem;
    border: 1px solid red;
    border-radius: 1rem 0 2rem 0;
    padding: 0.3rem 1.5rem;
    background-color: rgba(20, 0, 0, 0.1);
}

li {
    color: #ffd700;
}

li::marker {
    color: #80ffdb;
    content: "»";
    font-size: 1.2rem;
    /* border: 1px red solid;
    box-shadow: 3px 3px black; */
}

a {
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
    padding: 0.2rem 0.5rem;
    margin-left: .3rem;
    text-decoration: none;
}

a:link {
    background-color: #ffc0cb88;
}

a:visited {
    background-color: #ffc0cb22;
    text-decoration: underline;
}

dd {
    padding: 0.5rem;
}

#underConstruction {
    opacity: 80%;
    position: relative;
}

@keyframes rotateImg {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
}

#underConstruction>img {
    width: 10%;
    height: auto;
    margin-left: 50%;
    animation: rotateImg 6s alternate-reverse infinite;
}