 *,
 *::after,
 *::before {
     box-sizing: border-box;
 }
 
 body {
     margin: 0;
     display: grid;
     grid-template-columns: repeat(2, 4rem);
     grid-template-rows: 7rem 2rem 7rem;
     gap: .5rem;
     /* esto de acá abajo, el pointer, es solo porque toda la pantalla 
     será touch; si fuera solo una carta lo clickeable, calculo que tendríamos que
     pnerlo en .card o algo así*/
     cursor: pointer;
     justify-content: center;
     padding-top: 1rem;
 }
 
 .deck {
     height: 100%;
     width: 100%;
     border: 1px solid black;
     display: flex;
     justify-content: center;
     align-items: center;
     /* todo lo que es rem es el tamaño en relación a root:user-select: 
     ponele, si como suele pasar la página tiene 16px en su font normal,
     0.5 rem sería 8px, o media letra */
     font-size: 3rem;
     border-radius: .5rem;
     color: white;
     /* esto es para  no poder highlightear el texto de las cartas: */
     user-select: none;
 }
 
 .computer-deck {
     background-color: green;
 }
 
 .player-deck {
     background-color: blue;
 }
 
 .text {
     grid-column: span 2;
     display: flex;
     /* creo que justify es para el eje x y align para el y */
     justify-content: center;
     align-items: center;
 }
 
 .card {
     /* no entendí bien pero esto de relative es respecto a 
     before/after creo */
     position: relative;
     height: 100%;
     width: 100%;
     border: 1px solid black;
     border-radius: .5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 4rem;
 }
 
 .card.red {
     color: red;
 }
 
 .card.black {
     color: black;
 }
 
 .card::before,
 .card::after {
     position: absolute;
     /* creo que esto es para acceder al número de carta */
     content: attr(data-value);
     font-size: 1rem;
 }
 
 .card::before {
     top: .5rem;
     left: .5rem;
 }
 
 .card::after {
     bottom: .5rem;
     right: .5rem;
     transform: rotate(180deg);
 }