* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button {
    background-color: red;
    border-radius: 3.5rem;
    width: 200px;
    height: 10rem;
    color: white;
}

#placeholder {
    /* no sé qué haría esto: */
    /* perspective: 2000px; */
    height: 100px;
    width: 100px;
    padding: 50px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 5rem;
    background-image: linear-gradient(white 60%, red);
    animation: rotate 5s infinite linear;
    /* todo esto se lo agrego para probar: */
    transform-style: preserve-3d;
    transform-origin: 0 0 0;
    transform: rotate3d(1, 1, 1, 0deg) translate3d(100px, 100px, 100px);
}